html {
	display: flex;
	height: 100%;
}
body {
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	display: inherit;
	flex-flow: column nowrap;
	justify-content: flex-start;
}
#mapid { 
	height: 100%; 
}